<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script language="javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
        <style>
            body{
                background-color: #dfdfdf;
            }
            .container {
                padding: 64px;
            }
            
            * {
                box-sizing:border-box;
            }
            img{
                border-radius: 40px;
            }
        </style>
    </head>
    <body>
          <div class="container">
            <div class="row">
              <div class="column-66">
                <img src="../static/images/pentest.png" width="100%" height="270">
                <h1 class="large-font" style="color:rgb(228, 27, 13);"><b>Tools reconnaissance online</b></h1>
                <p><span style="font-size:36px">Support: Subdomain,Reverse IP</span> </p>
              </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th colspan="4">0° KhongDo Team Member</th>
                    </tr>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">MSSV</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Ngô Thái An</td>
                        <td>2033180019</td>
                      </tr>
                      <tr>
                        <td>Nguyễn Hoàng Duy</td>
                        <td>2033180056</td>
                      </tr>
                      <tr>
                        <td>Lê Quốc Khánh</td>
                        <td>2033181034</td>
                      </tr>
                      <tr>
                        <td>Trương Hữu Phúc</td>
                        <td>2033181058</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
    </body>
</html>